@model IEnumerable<Mega_Music_School.Models.Video>
@{
    ViewData["Title"] = "AllUploads";
    Layout = "~/Views/Shared/_StudentDashboardLayout.cshtml";
}


<div class="container">
    <div class="card">
        <div class="card-body">
            <section class="section">
                <h3 class="text-bg-primary text-center"><strong>LIST OF UPLOADED CONTENTS</strong></h3>

                @if (Model != null && Model.Count() > 0)
                {
                    <table table class="table table-bordered">
                        <thead>
                            <tr class="text-center">
                                <th scope="col"> Video Name</th>
                                <th scope="col"> Video Link</th>
                                <th scope="col"> Video Details</th>
                                <th scope="col"> Date Added</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Videoupload in Model)
                            {
                                <tr class="text-center">
                                    <td width="20%"> @Videoupload.VideoName </td>
                                    <td width="20%"> @Videoupload.VideoLink </td>
                                    <td width="20%"> @Videoupload.VideoDetails </td>
                                    <td width="20%"> @Videoupload.DateAdded </td>
                                    <td width="20%">
                                        <a onclick="DeleteItem('@Videoupload.Id')">
                                            <i class="fa fa-close" style="font-size: 25px; color:red;" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                <br />
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h2 class="text-secondary text-center py-5"> No Uploads From You For Now.</h2>
                }
            </section>
        </div>
    </div>
</div>